@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
        display: none; 
    }
}
.info-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

    h1 {
        font-size: 3rem;
        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    }

    p {
        font-size: 1rem;
    }
}

.flowerpic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
  }

.kyrkbild {
    width: 500px;
    height: auto;
    border-radius: 8px;
    opacity: 1 !important;
    opacity: 300000 !important;
}

.mainwrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 100vh;
    overflow-y: auto;
    align-items: center;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    margin-top: 3rem;
}

.info-content p {
    width: 100%;
    padding-left: 1.5rem;
}

.tidplan-div {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the h4 horizontally */
    height: fit-content;
}

.tidplan-div h4 {
    text-align: center; /* Center the h4 text */
}

.tidplan-div p {
    width: 100%; /* Ensure p tag takes full width */
    text-align: left; /* Align p tag's text to the left */
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 750px) {
    .kyrkbild {
        width: 385px;
    }
    .info-img-wrap {
        padding: 0 15px;
    }
    .info-content {
        max-width: 100%;
        margin-top: 50%;
        padding-bottom: 5rem;
        justify-content: unset;
        padding: 0 1rem;
        overflow-x: hidden;
    }
    .info-content p {
        padding-left: 0rem;
    }
}

.underline {
    text-decoration: underline;
    font-weight: 600;
}